<component name="libraryTable">
    <library name="logback-classic-1.5.15.jar">
        <CLASSES>
            <root url="jar://$USER_HOME$/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/ch/qos/logback/logback-classic/1.5.15/logback-classic-1.5.15.jar!/"/>
        </CLASSES>
        <SOURCES>
            <root url="jar://$USER_HOME$/AppData/Local/Coursier/cache/v1/https/repo1.maven.org/maven2/ch/qos/logback/logback-classic/1.5.15/logback-classic-1.5.15-sources.jar!/"/>
        </SOURCES>
    </library>
</component>